<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Sl1ver/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="nuget" />
      <add key="ClearTextPassword" value="7738db0991a96d31037fcde02ace4d35828d70c5" />
    </github>
  </packageSourceCredentials>
</configuration>