<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Sl1ver/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="nuget" />
      <add key="ClearTextPassword" value="a7bfc1f21a9a9834b3e45d90184ca6fe587daf65" />
    </github>
  </packageSourceCredentials>
</configuration>